<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap-5.3.8-dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WELCOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'event_list' %}">Event_List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'event_details' %}">Event_Details</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% block content%}


{% endblock %}
<footer class="footer">
    <div class="footer-bottom">
        <p>Email: wanyamaelisha612@gmail.com</p>
        <p>Phone: +254 798 554 664</p>
        <p>&copy; 2026 MyWebsite. All rights reserved.</p>
    </div>
</footer>
<script src="../../static/assets/styles/bootstrap-5.3.8-dist/js/bootstrap.bundle.js"></script>
</body>
</html>