{% extends 'base.html' %}
{% block content %}
{% block title %}
Event_List
{% endblock %}
    <h2>Upcoming Events</h2>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09:00 AM</td>
                <td>March 1, 2026</td>
                <td>Conference Room A</td>
                <td>Team strategy meeting</td>
            </tr>
            <tr>
                <td>11:30 AM</td>
                <td>March 2, 2026</td>
                <td>Main Hall</td>
                <td>Product launch presentation</td>
            </tr>
            <tr>
                <td>02:00 PM</td>
                <td>March 3, 2026</td>
                <td>Online (Zoom)</td>
                <td>Client consultation session</td>
            </tr>
            <tr>
                <td>04:00 PM</td>
                <td>March 4, 2026</td>
                <td>Training Center</td>
                <td>Employee skills workshop</td>
            </tr>
            <tr>
                <td>10:00 AM</td>
                <td>March 5, 2026</td>
                <td>Auditorium</td>
                <td>Guest speaker seminar</td>
            </tr>
            <tr>
                <td>01:00 PM</td>
                <td>March 6, 2026</td>
                <td>Breakout Room B</td>
                <td>Project review discussion</td>
            </tr>
        </tbody>
    </table>
<button>BACK</button>
{% endblock %}
