{% extends 'base.html' %}
{% block content %}
{% block title %}
Home
{% endblock %}
<h2>OUR LOCATION</h2>
<div class="container">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.2756831452098!2d36.777219373751734!3d-1.2219230987664222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f18022771c8cb%3A0xeb04db486d01d930!2sGachie%20Meaty%20Meats!5e1!3m2!1sen!2ske!4v1770984978975!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="form-section">
        <form action="#" method="POST">
            <h2>Contact Us</h2>

            <div class="input-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
            </div>

            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Enter description" required></textarea>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
